@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  overflow: hidden;
}

body::before {
  position: fixed;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 50%;
  background: #000;
  filter: url(#grainy-filter) contrast(50%) brightness(70%);
  mix-blend-mode: color-dodge ;
}

@layer utilities {
  .balance {
    text-wrap: balance;
  }
}